@page
@using Mobishare.Core.Security
@model Mobishare.App.Areas.Admin.Pages.IndexModel
@{
    ViewData["Title"] = "Admin Index";
}

<div class="container">
    <h1>Admin Index</h1>
    <div class="box pt-2 ps-2">
        <div class="row mb-3">
            <div class="col-lg-3 pe-5 pb-4">
                <div class="row mt-2">
                    <p class="fs-s text-secondary mb-1">Admin Panel</p>
                </div>
                <div class="row">
                    <a href="/Admin/UserSettings/SuspendedUser"
                        class="btn mb-1 text-start b-d @(HttpContext.Request.Path == "/Admin" ? "b-g bold-500" : "")">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                d="M20 11q-.425 0-.712-.288T19 10t.288-.712T20 9t.713.288T21 10t-.288.713T20 11m0-3q-.425 0-.712-.288T19 7V4q0-.425.288-.712T20 3t.713.288T21 4v3q0 .425-.288.713T20 8M9 12q-1.65 0-2.825-1.175T5 8t1.175-2.825T9 4t2.825 1.175T13 8t-1.175 2.825T9 12m-8 6v-.8q0-.85.438-1.562T2.6 14.55q1.55-.775 3.15-1.162T9 13t3.25.388t3.15 1.162q.725.375 1.163 1.088T17 17.2v.8q0 .825-.587 1.413T15 20H3q-.825 0-1.412-.587T1 18m2 0h12v-.8q0-.275-.137-.5t-.363-.35q-1.35-.675-2.725-1.012T9 15t-2.775.338T3.5 16.35q-.225.125-.363.35T3 17.2zm6-8q.825 0 1.413-.587T11 8t-.587-1.412T9 6t-1.412.588T7 8t.588 1.413T9 10m0 8" />
                        </svg>
                        Home
                    </a>
                </div>

                @if (User.HasClaim(c => c.Type == ClaimNames.Role.ToString() && c.Value == UserRole.Admin.ToString()))
                {
                    <div class="row mt-2">
                        <p class="fs-s text-secondary mb-1">User</p>
                    </div>
                    <div class="row">
                        <a href="/Admin/UserSettings/SuspendedUser"
                            class="btn mb-1 text-start b-d @(HttpContext.Request.Path == "/Admin/UserSettings/SuspendedUser" ? "b-g bold-500" : "")">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M20 11q-.425 0-.712-.288T19 10t.288-.712T20 9t.713.288T21 10t-.288.713T20 11m0-3q-.425 0-.712-.288T19 7V4q0-.425.288-.712T20 3t.713.288T21 4v3q0 .425-.288.713T20 8M9 12q-1.65 0-2.825-1.175T5 8t1.175-2.825T9 4t2.825 1.175T13 8t-1.175 2.825T9 12m-8 6v-.8q0-.85.438-1.562T2.6 14.55q1.55-.775 3.15-1.162T9 13t3.25.388t3.15 1.162q.725.375 1.163 1.088T17 17.2v.8q0 .825-.587 1.413T15 20H3q-.825 0-1.412-.587T1 18m2 0h12v-.8q0-.275-.137-.5t-.363-.35q-1.35-.675-2.725-1.012T9 15t-2.775.338T3.5 16.35q-.225.125-.363.35T3 17.2zm6-8q.825 0 1.413-.587T11 8t-.587-1.412T9 6t-1.412.588T7 8t.588 1.413T9 10m0 8" />
                            </svg>
                            Suspended user
                        </a>
                    </div>

                    <div class="row">
                        <a href="/Admin/UserSettings/UserPermissions"
                            class="btn mb-1 text-start b-d @(HttpContext.Request.Path == "/Admin/UserSettings/UserPermissions" ? "b-g bold-500" : "")">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M4 19v-1.8q0-.85.438-1.562T5.6 14.55q1.55-.775 3.15-1.162T12 13q.925 0 1.825.113t1.8.362l-1.675 1.7q-.5-.075-.975-.125T12 15q-1.4 0-2.775.338T6.5 16.35q-.225.125-.363.35T6 17.2v.8h6v2H5q-.425 0-.712-.288T4 19m10 1v-1.25q0-.4.163-.763t.437-.637l4.925-4.925q.225-.225.5-.325t.55-.1q.3 0 .575.113t.5.337l.925.925q.2.225.313.5t.112.55t-.1.563t-.325.512l-4.925 4.925q-.275.275-.637.425t-.763.15H15q-.425 0-.712-.288T14 20m7.5-5.575l-.925-.925zm-6 5.075h.95l3.025-3.05l-.45-.475l-.475-.45l-3.05 3.025zm3.525-3.525l-.475-.45l.925.925zM12 12q-1.65 0-2.825-1.175T8 8t1.175-2.825T12 4t2.825 1.175T16 8t-1.175 2.825T12 12m0-2q.825 0 1.413-.587T14 8t-.587-1.412T12 6t-1.412.588T10 8t.588 1.413T12 10m0-2" />
                            </svg>
                            User Permissions
                        </a>
                    </div>

                    <div class="row border-top"></div>
                }

                @if (User.HasClaim(c => c.Type == ClaimNames.Role.ToString() && (c.Value == UserRole.Admin.ToString() ||
                                c.Value == UserRole.Staff.ToString())))
                {
                    <div class="row mt-2">
                        <p class="fs-s text-secondary mb-1">Vehicle</p>
                    </div>
                    <div class="row">
                        <a href="/Admin/VehicleManagement/ManageVehicle"
                            class="btn mb-1 text-start b-d @(HttpContext.Request.Path == "/Admin/VehicleManagement/ManageVehicle" ? "b-g bold-500" : "")">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE -->
                                <path fill="currentColor"
                                    d="M5 20q-2.125 0-3.562-1.437T0 15t1.463-3.562T5 10q1.925 0 3.238 1.15T9.9 14h.65l-1.8-5H8q-.425 0-.712-.288T7 8t.288-.712T8 7h3q.425 0 .713.288T12 8t-.288.713T11 9h-.1l.35 1h4.8L14.6 6H13q-.425 0-.712-.288T12 5t.288-.712T13 4h1.6q.65 0 1.163.35t.737.95l1.7 4.65h.8q2.075 0 3.538 1.463T24 14.95q0 2.1-1.45 3.575T19 20q-1.8 0-3.162-1.125T14.1 16H9.9q-.35 1.725-1.7 2.863T5 20m0-2q1.025 0 1.763-.562T7.8 16H6q-.425 0-.712-.288T5 15t.288-.712T6 14h1.8q-.3-.9-1.037-1.45T5 12q-1.275 0-2.137.863T2 15q0 1.25.863 2.125T5 18m7.7-4h1.4q.125-.575.338-1.075T15 12h-3.05zm6.3 4q1.275 0 2.138-.875T22 15q0-1.275-.862-2.137T19 12h-.1l.65 1.725q.15.4-.025.763T18.95 15t-.775-.025t-.525-.575l-.6-1.7q-.5.425-.775 1T16 15q0 1.25.863 2.125T19 18m0-3" />
                            </svg>
                            Vehicle
                        </a>
                        <a href="/Admin/VehicleManagement/ManageVehicleType"
                            class="btn mb-1 text-start b-d @(HttpContext.Request.Path == "/Admin/VehicleManagement/ManageVehicleType" ? "b-g bold-500" : "")">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE -->
                                <path fill="currentColor"
                                    d="M19 16q-1.8 0-3.175-1.125T14.1 12h-1.975q-.425 0-.712-.288T11.125 11t.288-.712t.712-.288H14.1q.125-.55.338-1.05T15 8H9.7q-.425 0-.712-.288T8.7 7t.288-.712T9.7 6h6.35l-1.1-3H12q-.425 0-.712-.288T11 2t.288-.712T12 1h2.95q.65 0 1.15.363t.725.962L18.175 6H19q2.075 0 3.538 1.463T24 11t-1.463 3.538T19 16m0-2q1.25 0 2.125-.875T22 11t-.875-2.125T19 8h-.075l.625 1.725q.15.4-.025.788t-.575.512t-.775-.05t-.525-.575l-.6-1.675q-.5.425-.775 1.025T16 11q0 1.25.875 2.125T19 14M7 23q-1.25 0-2.125-.875T4 20H1q-.425 0-.712-.288T0 19t.288-.712T1 18h3.775q.375-.375.95-.687T7 17q.625 0 1.2.25t1.025.75H12v-2H1q-.425 0-.712-.288T0 15t.288-.712T1 14h1v-3H1q-.425 0-.712-.288T0 10t.288-.712T1 9h5.425q.275 0 .513.125t.362.35L10 14h2q.825 0 1.413.588T14 16v2q0 .825-.587 1.413T12 20h-2q0 1.25-.875 2.125T7 23m-3-9h3.675l-1.8-3H4zm3 7q.425 0 .713-.288T8 20t-.288-.712T7 19t-.712.288T6 20t.288.713T7 21m-1-4" />
                            </svg>
                            Vehicle Type
                        </a>
                    </div>

                    <div class="row border-top"></div>

                    <div class="row mt-2">
                        <p class="fs-s text-secondary mb-1">City</p>
                    </div>
                    <div class="row">
                        <a href="/Admin/MapManagement/ManageCity"
                            class="btn mb-1 text-start b-d @(@HttpContext.Request.Path == "/Admin/MapManagement/ManageCity" ? "b-g bold-500" : "")">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE -->
                                <path fill="currentColor"
                                    d="M3 19V9q0-.825.588-1.412T5 7h4V5.825q0-.4.15-.763t.425-.637l1-1Q11.15 2.85 12 2.85t1.425.575l1 1q.275.275.425.638t.15.762V11h4q.825 0 1.413.588T21 13v6q0 .825-.587 1.413T19 21H5q-.825 0-1.412-.587T3 19m2 0h2v-2H5zm0-4h2v-2H5zm0-4h2V9H5zm6 8h2v-2h-2zm0-4h2v-2h-2zm0-4h2V9h-2zm0-4h2V5h-2zm6 12h2v-2h-2zm0-4h2v-2h-2z" />
                            </svg>
                            Manage City
                        </a>
                        <a href="/Admin/MapManagement/ManageParkingSlot"
                            class="btn mb-1 text-start b-d @(HttpContext.Request.Path == "/Admin/MapManagement/ManageParkingSlot" ? "b-g bold-500" : "")">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE -->
                                <path fill="currentColor"
                                    d="M10 15v4q0 .825-.587 1.413T8 21t-1.412-.587T6 19V5q0-.825.588-1.412T8 3h5q2.5 0 4.25 1.75T19 9t-1.75 4.25T13 15zm0-4h3.2q.825 0 1.413-.587T15.2 9t-.587-1.412T13.2 7H10z" />
                            </svg>
                            Manage Parking Slot
                        </a>
                    </div>


                    <div class="row">
                        <a href="/Admin/MapManagement/VisualizeMap"
                            class="btn mb-1 text-start b-d align-middle @(HttpContext.Request.Path == "/Admin/MapManagement/VisualizeMap" ? "b-g bold-500" : "")">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE -->
                                <path fill="currentColor"
                                    d="M16 18q.85 0 1.413-.5T18 16q.025-.85-.562-1.425T16 14t-1.425.575T14 16t.575 1.425T16 18m0 2q-1.65 0-2.825-1.175T12 16t1.175-2.825T16 12t2.825 1.175T20 16q0 .575-.137 1.088t-.413.962l1.85 1.85q.275.275.275.7t-.275.7t-.7.275t-.7-.275l-1.85-1.85q-.45.275-.962.413T16 20m-11.65.7q-.5.2-.925-.112T3 19.75v-14q0-.325.188-.575T3.7 4.8l4.65-1.575Q8.675 3.1 9 3.1t.65.125L15 5.1l4.65-1.8q.5-.2.925.113T21 4.25V11q0 .425-.4.575t-.725-.15q-.825-.7-1.812-1.063T16 10h-.425q-.225 0-.425.05q-.45.05-.8-.213T14 9.15v-2.3l-4-1.4v12.025q0 .475-.262.85t-.688.55z" />
                            </svg>
                            Visualize Map
                        </a>
                    </div>
                }
            </div>
            <div class="col-lg-9 ps-0">
                <p>Ciao</p>
            </div>
        </div>
    </div>
</div>