@page
@using Mobishare.Core.ParkingSlotClassification
@model Mobishare.App.Areas.Admin.Pages.MapManagement.ManageParkingSlotModel
@{
}

<h4>Add New Parking Slots</h4>

<hr />

<form method="post" asp-page-handler="AddNewParkingSlot">
    <div class="controls mt-3 mb-3">
        <div id="map"></div>
        <input type="hidden" id="allCities" value="@Model.AllCitiesPerimeter" />
    <button id="deletePolygonButton" class="btn btn-outline-danger mt-3">Clear Polygon</button>
        <button type="button" class="button-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <svg class="text-secondary" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24"><!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE -->
                <path fill="currentColor"
                    d="M11 7h2v2h-2zm0 4h2v6h-2zm1-9C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2m0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8" />
            </svg>
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="modal-title h3" id="staticBackdropLabel">Button Actions Overview</p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>You can find button actions here:</p>
                        <img class="w-100" src="@Url.Content("~/img/instruction/command-example.png")"
                            alt="Command Example">
                        Button actions:
                        <ul>
                            <li>
                                <img style="width: 3rem;" src="@Url.Content("~/img/instruction/hand-command.png")"
                                    alt="Hand Command Example">
                                <span>
                                    Move the map to the desired location.
                                </span>
                            </li>
                            <li>
                                <img style="width: 3rem;" src="@Url.Content("~/img/instruction/polygon-command.png")"
                                    alt="Polygon Command Example">
                                <span>
                                    Click and drag to draw a polygon on the map. You can add multiple points to the
                                    polygon.
                                </span>
                            </li>
                            <li>
                                <span>
                                    Click the "Clear Polygon" button to remove the drawn polygon from the map.
                                </span>
                            </li>
                        </ul>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">I got
                            it!</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <label class="h5 mt-3 mb-0" asp-for="Input.ParkingArea" for="MappedArea">Mapped area<b
                    class="text-danger">*</b></label>
            <textarea id="wktOutput" asp-for="Input.ParkingArea" class="form-control" readonly></textarea>
        </div>
        <span asp-validation-for="Input.ParkingArea" class="text-danger d-block"></span>
    </div>

     <label class="pt-2" asp-for="Input.Type" for="ParkingSlotType">Parking Slot Type<b class="text-danger">*</b></label>
        <select id="ParkingSlotType" class="form-control" asp-for="Input.Type">
            <option value="" selected>Select Parking Slot Type</option>
            @foreach (var type in Enum.GetValues(typeof(ParkingSlotTypes)))
            {
                <option value="@type">@type</option>
            }
        </select>
        <span asp-validation-for="Input.Type" class="text-danger d-block"></span>
        <button type="submit" class="btn btn-outline-success mt-3 mb-3">Add New Parking Slot</button>
</form>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="successAlert">
        <strong>Success!</strong> @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}